<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue slider</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   

</head>
<body>

<div id="app">

    <header class="section-fluid">
         <div class="container">
           <div class="row">
                 <nav class="col-12 navbar-first-content">
                    <ul class="logo">
                         <h4>Choosing<span id="logo-color">.com</span></h4>
                    </ul>
                    <ul class="registration">
                        <li>
                            <button type="button" class="btn btn-outline-primary">EUR</button>
                        </li>
                       <li>
                        <a href="#">
                            <i class="far fa-question-circle"></i>
                        </a>
                       </li>
                        
                          <li><button>Registra la tua struttura</button></li>
                          <li> <button>Iscriviti</button></li>
                          <li><button>Accedi</button></li>
                    </ul>
                </nav>
                <nav class="col-12 ">
                    <ul class="navbar-second-content"> 
                        <li>
                            <a href="#">
                                <i class="fas fa-bed"></i>
                                Soggiorni
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-plane"></i>
                                Voli
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-globe-americas"></i>
                                Volo + hotel
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-car"></i>
                                Noleggio auto
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-landmark"></i>
                                Attrazioni
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-taxi"></i>
                                Taxi da/per l'aeroporto
                            </a>
                        </li>
                    </ul>
                </nav>
           </div>
        </div>

     </header>
     <section class="section-second-fluid">
         <div class="container">
             <div class="row">
                 <div class="col-12 text">

                        <h4>Trova offerte su hotel, case e tanto altro...</h4>
                        <div class="subtitle-text">Comodi appartamenti al mare, fantastici chalet in montagna e tanto altro</div> 
               
                 </div>
                
                    <form class="col-12 form-container">
                        <div class="input-container">
                          <input type="text" class="where" placeholder="Dove vuoi andare? ">
                        </div>
                        <div class="input-second-container">
                            <input type="text" class="date" placeholder="Check-in - Check-out">
                        </div>
                        <div class="input-third-container">
                          <input type="text" class="people" placeholder="2 adulti - 0 bambini - 0 camera">
                      </div>
                      <div class="input-second-container">
                         <button class="btn-search">Cerca</button>
                      </div>
                   </form>
               
                   <div class="col-12">
                       <div class="input-checkbox">
                        <input type="checkbox">
                        Viaggio per lavoro
                       </div>
                   </div>
                 
             </div>
         </div>

     </section>

    <section class="slider container">
     
    <div class="row ">
        <!-- <div class="col-12 offers">
            <div class="col-6 arrows">
                <p>Ti interessano ancora le ricerche che hai fatto per Roma</p>
                <div class="col-2 arrow"@click="prev">
                    <i class="fas fa-arrow-circle-left arrow-left"></i>
                </div>
                <div class="slider-photo col-8 ">
                    <img :src="photos[photoIndex]" :alt="photos">
                    <div class="slider-dots">
                     
                       <i
                        :class="isCurrentDot(index)"
                         v-for="(img, index) in photos" 
                         class="fas fa-circle" 
                         @click="moveTo(index)"
                       >
                        
                        </i>
                    </div>
                </div>
                <div class="col-2 arrow " @click="next">
                    <i  class="fas fa-arrow-circle-right arrow-right"></i>
                </div>
            </div> -->

            <!-- <div class="col-6">

                <div class="col-2 arrow"@click="prev">
                    <i class="fas fa-arrow-circle-left arrow-left"></i>
                </div>
                <div class="slider-photo col-8 ">
                    <img :src="photosSorrento[photoIndex]" :alt="photos">
                    <div class="slider-dots">
                     
                       <i
                        :class="isCurrentDot(index)"
                         v-for="(img, index) in photos" 
                         class="fas fa-circle" 
                         @click="moveTo(index)"
                       >
                        
                        </i>
                    </div>
                </div>
                <div class="col-2 arrow " @click="next">
                    <i  class="fas fa-arrow-circle-right arrow-right"></i>
                </div>
            </div>
        </div> -->
       
        <div class="col-2 arrow"@click="prev">
            <i class="fas fa-arrow-circle-left arrow-left"></i>
        </div>
        <div class="slider-photo col-8 ">
            <img :src="photos[photoIndex]" :alt="photos">
            <div class="slider-dots">
             
               <i
                :class="isCurrentDot(index)"
                 v-for="(img, index) in photos" 
                 class="fas fa-circle" 
                 @click="moveTo(index)"
               >
                
                </i>
            </div>
        </div>
        <div class="col-2 arrow " @click="next">
            <i  class="fas fa-arrow-circle-right arrow-right"></i>
        </div>
     </div>
   </div>
  
</section>
<script type="text/javascript" src="./js/script.js"></script>
    
</body>
</html>